*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.7z
*.syso

build/

# build specific
misc/version.go
cmd/*/resources.rc
cmd/*/manifest.xml
win-gpg-agent.zip
win-gpg-agent.zip.minisig
win-gpg-agent.json
